@import '../../assets/styles/var.scss';



.ingredient-list-component {
  .ingredient-list-h3{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bolder;
    color: $deepen_text_title2;
  }

  /*覆盖taro-ui默认样式*/
  .at-list::after{
    border-color: transparent;
  }
  .at-list__item{
    padding: 20px 8px;
    font-size: 26px;
    color: $deepen_text_title;
  }
  .at-list__item .item-extra__info {
    font-size: 24px;
  }
}