@import '../../assets//styles/var.scss';



.card-bottom-desc-component.recommends-card-area3 {
  width: 100%;
  height: 60px;
  background: rgba(240, 240, 240, 0.6);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: 1px solid $default_text_cr;
  box-sizing: border-box;
  padding: 0 12px;
  display: flex;
  align-items: center;
  .recard-area3-textwrapper{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    &.wrapper11{
      justify-content: flex-start;
    }
    &.wrapper22{
      justify-content: flex-start;
      margin-left: -40px;
    }
    &.wrapper33{
      justify-content: flex-end;
    }
    .recard-area3-text{
      font-size: 20px;  
      color: $deepen_shadow_bg;
      margin-left: 8px;
      margin-top: 5px;
    }
  }
}