.random-food-page {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  .random-food-components-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}