@import '../../assets/styles/var.scss';



.settings-list-component {
  margin-top: 45px;
  .settings-list-item{
    height: 80px;
    background: $lightening_main_bg;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding:0 28px 0 22px;
    border-top: 1px solid $default_dividing_line;
    border-bottom: 1px solid $default_dividing_line;
    .settings-item-front{
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .settings-item-fronttext{
      margin-left: 15px;
      font-size: 15px;
      color: $default_text_title;
    }
  }


  /*覆盖默认taro-ui样式*/
  // .taro-switch-core {
  //   width: 42px;
  //   height: 22px;
  // }
}