@import '../../assets//styles/var.scss';


.lottery-area-component {
  .center-circle{
    width: 240px;
    height: 240px;
    border: 2px solid #EDA82B;
    border-radius: 50%;
    background: $deepen_main_bg;
    box-shadow: 0  0 14px 2px $default_main_bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $lightening_main_bg;
    .center-circle-text1{
      font-size: 34px;
    }
    .center-circle-text2{
      font-size: 22px;
    }
    animation:ripple 1.8s ease-in infinite;
  }
}


//圆形阴影扩散
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 232, 169, 1);
  }

  100% {
    box-shadow: 0 0 10px 60px rgba(255,199,95, 0);
  }
}