$lightening_main_bg: #FFFFFF;
$default_main_bg: #FFC75F;
$deepen_main_bg: #ffb01e;
$deepen2_main_bg: #FE8E3C;

$default_text_title: #5F788A;
$deepen_text_title: #2F4858;
$deepen_text_title2: #272727e0;
$default_text_content: #535353;
$deepen_text_content: #454545;
$default_text_cr: #DDDDDD;
$deepen_text_cr: #C0C2C8;

$default_shadow_bg: #ACACAC;
$deepen_shadow_bg: #7E7E7E;

$default_border_bg: #E8E8E8;
$deepen_border_bg: #B3B3B3;

$default_button_bule: #AFD5ED;
$deepen_border_bule: #73C7EC;
$default_button_green: #53BF82;
$deepen_border_green: #078950;

$default_dividing_line: #e7e7e7;